form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.Text {
    display: flex;
    flex-direction: column;
}

input, select {
    padding: 10px;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
}

label {
    font-size: 15px;
    font-weight: 600;
}

input[type=submit] {
    background-color: #e0d9be;
    color: black;
    border-radius: 5px;
    grid-column: 1 / -1;
}

@media(max-width:767px) {
    form {
        grid-template-columns: 1fr;
    }
}
